version: '3.7'
services:
    db:
        image: mysql
        command: ["--default-authentication-plugin=mysql_native_password"]
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: schwarzbuch
            MYSQL_USER: schwarzbuch
            MYSQL_PASSWORD: schwarzbuch
    php:
        build: ./php-fpm
        ports:
            - "9000:9001"
        volumes:
            - ./app:/var/www/app:cached
            - ./logs/app:/var/www/app/var/log:cached
        links:
            - db
        extra_hosts:
            - "docker-host.localhost:127.0.0.1"
    nginx:
        build: ./nginx
        ports:
            - "80:80"
        links:
            - php
        volumes:
            - ./logs/nginx:/var/log/nginx:cached
            - ./app:/var/www/app:cached
    elk:
        image: willdurand/elk
        ports:
            - "81:80"
        volumes:
            - ./elk/logstash:/etc/logstash:cached
            - ./elk/logstash/patterns:/opt/logstash/patterns:cached
            - ./logs/app:/var/www/app/var/log:cached
            - ./logs/nginx:/var/log/nginx:cached
